.app__community-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 88%;
  height: max-content;
  overflow-y: auto;
  perspective: 2px;
}

.app__community-image__container {
  max-width: 150px;
  max-height: 150px;
  opacity: 0.95;
}

.app__community-image__container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flex__reverse {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.flex__row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
