.app__recipes-container {
  position: relative;
  display: flex;
  overflow-x: scroll;
  width: 80%;
  min-height: 350px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app__recipes-container > div:nth-child(2n) {
  align-self: flex-end;
}

.app__recipes-container > div:nth-child(2n + 1) {
  align-self: flex-start;
}

::-webkit-scrollbar {
  display: none;
}

.app__recipes-container + div {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin: 3vh auto 0 auto;
}

.app__recipes__image {
  max-width: 400px;
  max-height: 400px;
  z-index: -10;
  position: absolute;
  bottom: -10%;
  right: 0;
  opacity: 0.5;
}

.app__recipes__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes growth {
  0% {
    transform: scale(0.5);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 650px) {
  .app__recipes-container {
    width: 88%;
  }

  .animate {
    animation: growth 2s ease;
    animation-fill-mode: forwards;
    transform: scale(0.5);
  }
}
