.card__display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: var(--font-base);
  font-size: var(--font-size-xs);
  background-color: var(--color-transparent-beige);
  -webkit-box-shadow: 17px 22px 22px -11px var(--color-beige);
  -moz-box-shadow: 17px 22px 22px -11px var(--color-beige);
  box-shadow: 17px 22px 22px -11px var(--color-beige);
  margin: var(--base-margin);
}

.card__column {
  flex-direction: column;
}

.card__row {
  flex-direction: row;
}

.image__container,
.content__container,
.content__container__end {
  position: relative;
  width: 150px;
  height: 130px;
  margin: var(--base-margin) auto 0 auto;
}

.content__container__end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image__container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__overlay {
  position: absolute;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}

.overlay__black {
  width: 30%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--color-white);
  top: 0;
  left: 0;
}

.overlay__beige {
  width: 30%;
  height: 30%;
  background-color: var(--color-beige);
  top: 0;
  right: 0;
}

.custom__button {
  width: 45%;
  height: 25%;
  color: var(--color-white);
  background-color: var(--color-dark-red);
  bottom: 0;
  right: 0;
  border: none;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
}

.content__container > h4,
.content__container__end > h4 {
  color: var(--color-dark-red);
  font-family: var(--font-title);
  font-size: var(--font-size-paragraph);
  font-weight: 600;
  padding-top: var(--padding-xs);
}

.content__container > span,
.content__container__end > span {
  padding-top: var(--padding-xs);
  font-size: inherit;
  font-family: inherit;
  position: relative;
  max-width: 150px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
