.app__section-tracker {
  position: fixed;
  height: max-content;
  top: 30vh;
  left: 1.5vw;
  z-index: 20;
}

.app__section-tracker_row {
  position: relative;
  width: 50px;
}

.line {
  height: 1.5px;
  background-color: var(--color-darker-grey);
  position: absolute;
  top: 50%;
  width: 45%;
}

.p__section__active {
  color: var(--color-darker-grey);
  font-size: 0.75rem;
}

.p__section__inactive {
  color: transparent;
}

.section__active {
  width: 75%;
}
