.app__navigation {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: none;
  color: var(--color-white);
  z-index: 2;
}

.app__navigation-links {
  display: none;
}
.app__navigation__small-screen {
  display: flex;
}

.app__navbar-smallscreen_links {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  bottom: -40vh;
}

.app__navbar-smallscreen_links li {
  cursor: pointer;
  padding: 2vh 0;
}

.app__navigation-links a,
.app__navbar-smallscreen_links a {
  text-decoration: none;
  margin: var(--base-margin);
  color: inherit;
  font: 600 var(--font-size-base) var(--font-base);
}

.app__navigation__small-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(119, 30, 33, 0.95);
  width: 100%;
  height: 100vh;
  z-index: 5;
  animation: overlay 500ms ease-out;
}

.app__navigation__small-screen-overlay .overlay__close {
  position: absolute;
  bottom: 10vh;
  left: calc(50vw - 13.5px);
  cursor: pointer;
}

.app__navigation__small-screen_circle {
  width: 50px;
  height: 50px;
  margin: 0.5vh 0 0 0.5vw;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  cursor: pointer;
}

@keyframes overlay {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 650px) {
  .app__navigation {
    background: rgba(119, 30, 33, 0.4);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  .app__navigation-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .app__navigation-links li {
    cursor: pointer;
    padding: 1.75vh 1vw;
  }

  .app__navigation__small-screen {
    display: none;
  }
}
