.section__padding {
  scroll-margin-top: 8vh;
  padding-top: 3rem;
  margin-bottom: 2rem;
  min-height: 90vh;
  flex-direction: column;
  width: inherit;
}

.flex__start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__title {
  color: var(--color-dark-red);
  background-color: var(--color-transparent-beige);
  font-family: var(--font-title);
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center;
  overflow-wrap: break-word;
  max-width: fit-content;
  display: inline-block;
  font-size: 35px;
}

.section__subtitle {
  color: var(--color-purple);
  font-family: var(--font-title);
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

p {
  font-family: var(--font-base);
  font-size: var(--font-size-paragraph);
  width: 80%;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}
