.section__padding {
  scroll-margin-top: 7.5vh;
  padding-top: 2.5rem;
  min-height: 70vh;
  flex-direction: column;
}

.flex__start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section__title {
  color: var(--color-dark-red);
  background-color: var(--color-beige);
  font-family: var(--font-title);
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center;
  overflow-wrap: break-word;
  max-width: fit-content;
  display: inline-block;
  font-size: 35px;
}

.section__subtitle {
  color: var(--color-purple);
  font-family: var(--font-title);
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 2rem;
  font-size: 20px;
}

p {
  font-family: var(--font-base);
  font-size: var(--font-size-paragraph);
  width: 80%;
}
