.section__padding {
  scroll-margin-top: 7.5vh;
  padding: 1rem 1rem 0 5rem;
  height: 92.5vh;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section__title {
  color: var(--color-gray);
  font-family: (--font-title);
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
